name: Release

on:
  push:
    tags:
      - "v*" # v0.1.0 のようなタグが push された時に起動

permissions:
  contents: write # リリースを作成し、ファイルをアップロードするために必要

jobs:
  build-and-release:
    name: Build and Release on Windows
    runs-on: windows-latest # Inno Setup を動かすため Windows を使用

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build binary
        run: cargo build --release

      - name: Build Windows Installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: setup.iss

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/installer/LogBee-setup.exe
            target/release/LogBee.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-ubuntu:
    name: Build and Release on Ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Release
        run: cargo build --release

      - name: Create Deb Package
        run: cargo deb --no-build # すでにビルド済みなので no-build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/debian/*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
